@import "./another";

h1{
    color:red;
}

.primarybutton
{
    width:$size
}

.secondarybutton
{
    width:$size
}

div {
    background-color: red;

    button {
        background-color: blue;

        &:hover {
            background-color: green;
        }
    }
}